<!-- base.html -->

<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    media="screen,projection" />
  <title>{% block title %}{% endblock %}</title>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <div class="navbar-fixed">
    <nav class="deep-purple darken-4">
      <div class="container">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">Image Classifier</a>
          <ul class="right hide-on-med-and-down">
            <!-- <li><a href="/">Try Now</a></li> -->
            <li><a target="_blank" href="https://gitlab.com/arjun921/task/blob/master/Summary.md">Documentation</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="container">
    <br>
    {% block body %} {% endblock %}
  </div>
  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  {% block custom_js %} {% endblock %}
  <script>
    // alternative to DOMContentLoaded
    document.onreadystatechange = function () {
      if (document.readyState == "interactive") {
        M.AutoInit();
      }
    }
  </script>
</body>

</html>