<!-- index.html-->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<div class="row">
    <div class="col s12">
      <h6>Run classifier by:</h6>
      <ul class="tabs">
        <li class="tab col s6"><a class="active" href="#up_file">Upload Files</a></li>
        <li class="tab col s6"><a href="#img_url">Image URL</a></li>
        <!-- <li class="tab col s3 disabled"><a href="#test3">Disabled Tab</a></li>
        <li class="tab col s3"><a href="#test4">Test 4</a></li> -->
      </ul>
    </div>
    <div id="up_file" class="col s12">
        <form method="POST" enctype="multipart/form-data" action="inference_files">
          <div class="file-field input-field">
            <div class="btn">
              <span>File</span>
              <input name="file[]" type="file" multiple>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Upload one or more files">
            </div>
          </div>
          <button class="btn waves-effect waves-light" type="submit" name="action" >Submit
            <i class="material-icons right">send</i>
          </button>
        </form>
    </div>
    <div id="img_url" class="col s12">
        <div class="row">
            <form class="col s12" method="POST" action="inference_urls">
              <div class="row">
                <div class="input-field col s12">
                  <textarea name="urls_txt" id="textarea1" class="materialize-textarea"></textarea>
                  <label for="textarea1">Enter file urls seperated by \n</label>
                </div>
              </div>
              <button class="btn waves-effect waves-light" type="submit" name="action" >Submit
                  <i class="material-icons right">send</i>
                </button>
            </form>
          </div>
    </div>
  </div>


<!-- document.getElementById('returnObject').hidden = false -->
{% if result_json %}
<div id="returnObject" class="card-panel black green-text">
    {% for item in result_json %}
    {{item}} <br>
    {% endfor %}
  </div>
{% endif %}
      
<!-- 
<div class="carousel">
  <a class="carousel-item" href="#one!"><img src="https://lorempixel.com/250/250/nature/1"></a>
  <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/250/250/nature/2"></a>
  <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/250/250/nature/3"></a>
  <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/250/250/nature/4"></a>
  <a class="carousel-item" href="#five!"><img src="https://lorempixel.com/250/250/nature/5"></a>
</div> -->
{% endblock %}


{% block custom_js %} 
<!-- <script>
  document.getElementById('returnObject').hidden = true;
</script> -->
{% endblock %}